.wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 100px;
  margin-top: 80px;
}

#wrapper-footer{
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight:bold;
  margin: 0;
}

#wrapper-footer a{
  color: #fff;
}

#full-width-page-wrapper{
  padding-bottom: 100px;
}
