.wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 100px;
  margin-top: 80px;
}

#wrapper-footer{
  background-color: #1aa3ff;
  color: #fff;
  font-size: 12px;
  font-weight:bold;
  margin: 0;
}

#wrapper-footer a{
  color: #fff;
}

#full-width-page-wrapper{
  padding-bottom: 100px;
}

.footer{
  padding-top: 20px;
}

.footer p{
  padding-left:20px;
  padding-right:20px;
  border-right:solid white 1.5px;
}

.footer p:last-child{
  border-right: none;
}
